@font-face {
    font-family: 'Varela Round';
}

#wait_main{
    height:135px;
    max-height: 135px;
    min-height: 135px;
    width:430px;
    min-width: 430px;
    max-width: 430px;
    background-color: #1a1818c9;
    position: fixed;
    z-index: 1000000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-sizing: border-box;
}

#wait_sub{
    position: relative;
    left: 33%;
    height:68px;
    min-height: 68px;
    max-height: 68px;
    width:140px;
    min-width: 140px;
    max-width: 140px;
    margin-top: 20px;
}

#wait_loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wait_loader::after{
    content: "";
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border: 4px solid #ffffff;
    border-top-color: #034ea2;
    border-radius: 50%;
    animation: loading 1s ease infinite;
    box-sizing: content-box;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

#wait_message{
    height: 27px;
    min-height: 27px;
    max-height: 27px;
    color:#e9f2fc;
    font-size: 22px;
    font-family: "Varela Round", serif;
}

#wait_stuck{
    height:30px;
    min-height: 30px;
    max-height: 30px;
    font-size: 12px;
    font-family: "Varela Round", serif;
    color:#e9f2fc;
    margin-top: 10px;
}

#wait_stuck div{
    height: 14px;
    min-height: 14px;
    max-height: 14px;
    text-align: center;
}


